.button-buy {
  color: var(--basic-white);
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  padding: 19px 71px;
  padding-right: 70px;
  background-color: var(--main-orange);
  letter-spacing: 2px;

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 15px;
    padding: 30px 40px;
  }

  &:hover,
  :active {
    background-color: var(--hover-orange);
  }
}
