.contatcs {
  background-color: var(--background-gray);
  margin-bottom: 60px;

  @media (min-width:$tablet-width) {
    padding: 0;
    background-image: url("/img/contacts-background-tablet.jpg");
    background-size: 767px;
    background-repeat: no-repeat;
    height: 455px;
    padding-top: 70px;
    width: 767px;
    margin: 0 auto;
    background-color: inherit;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/contacts-background-desktop.jpg");
    background-size: 844px;
    width: 1170px;
    margin-bottom: 160px;
  }
}

.contatcs__wrapper {
  padding: 50px 16px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 514px;
  }
}

.contatcs__form {
  text-align: center;
  color: var(--basic-black);

  @media (min-width: $tablet-width) {
    padding: 50px;
    background-color: var(--basic-white);
    margin: 0 auto;
    width: 558px;
    height: 211px;

    box-shadow: 0px 4px 30px var(--shadow-black);
  }
}

.contatcs__header {
  font-size: 25px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.contatcs__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.contacts__input-container {

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__tel {
  padding: 15px;
  font-size: 14px;
  line-height: 17px;
  width: 254px;
  margin-bottom: 20px;
  border: 1px solid var(--light-black-border);


  @media (min-width: $tablet-width) {
    width: 234px;
  }
}

.contacts__email {
  padding: 15px;
  font-size: 14px;
  line-height: 17px;
  width: 254px;
  margin-bottom: 20px;
  border: 1px solid var(--light-black-border);

  @media (min-width: $tablet-width) {
    width: 234px;
  }
}

.contacts__form-button {
  color: var(--basic-white);
  border: none;
  background-color: var(--main-orange);
  padding: 19px 103px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  width: 288px;

  &:hover,
  :active {
    background-color: var(--hover-orange);
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 15px;
    padding: 17px 40px;
    width: 176px;
    font-weight: bold;
  }

}
