.countries {
  margin-top: 40px;
  margin-bottom: 111px;
}

.countries__wrapper {
  @media (min-width: $desktop-width) {
    width: 1170px;
    margin: 0 auto;
  }
}

.countries__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  overflow: scroll;
  text-align: center;
  letter-spacing: -0.415px;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.countries__item {
  padding-right: 99px;
  border-bottom: 1px solid var(--light-black-border);
  padding-bottom: 15px;
  &:hover,
  &:active {
    a {
      color: var(--main-orange);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    color: var(--light-black-border);
  }
}
