.footer-contacts {
  margin-top: 30px;
  border-bottom: 1px solid var(--footer-border);

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 258px;
    text-align: left;
    border-left:  1px solid var(--footer-border) ;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 267px;
    padding-left: 65px;
    margin-left: 37px;
    border-bottom: none;
  }
}

.footer-contacts__header {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: var(--basic-black);
}

.footer-contacts__email {
  color: var(--main-orange);
  font-size: 14px;
  line-height: 17px;
  display: block;
  margin-bottom: 21px;
  margin-left: 20px;
  padding-left: 15px;
  position: relative;

  &::before {
    content: "";
    width: 26px;
    height: 20px;
    background-image: url("/img/icon-mail.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: -11px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-left: 41px;
    &::before {
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    text-decoration: underline;
  }
}

.footer-contacts__tel {
  color: var(--main-orange);
  font-size: 16px;
  line-height: 32px;
  display: block;
  padding-bottom: 29px;
  margin-left: 33px;
  padding-left: 11px;
  text-decoration-line: underline;
  position: relative;

  &::before {
    content: "";
    width: 20px;
    height: 24px;
    background-image: url("/img/icon-tel-gray.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 11px;
  }


  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-left: 41px;
    &::before {
      left: 5px;
    }
  }
}
